*{
    margin: 0%;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.logo img{
    margin-left: 100px;
    width: 150px;
    height: 60px;
    display:block;
}
.border{
    border: 1px transparent;
}
.border:hover{
    border: 1px transparent;
    background-color: red;
}
.header-logo{
    width: 400px;
    height: 60px;
    padding: 20px 0px;
    color: black;
}
nav{
    position: sticky;
    top: 0%;
}

